# GitHub Integration
GITHUB_TOKEN=

# Supabase Integration
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Admin Credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_RESET_TEMPLATE_ID=template_jy6cxrf
VITE_EMAILJS_PUBLIC_KEY=
